.Game__btn {
    width: 6rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    background: #663399;
    font-size: 1rem;
    color: #FFF;
    cursor: pointer;
    transition: linear 0.4s;
}

.Game__btn:hover {
    background: #443399;
}

.Game__btn:active {
    transform: scale(0.9);
}